body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #d8dee9;
    font-family: "Fira Sans", sans-serif;
    color: #3b4252;
    font-size: 14px;
    overflow: hidden;
}

button {
    display: block;
    cursor: pointer; 
    font-family: "Fira Sans", sans-serif;
    margin: 15px;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    width: 130px;
    height: 40px;
}

.darkIcon {
    cursor: pointer; 
    user-select: none;
}

.darkMode {
    background-color: #2e3440;
    color: #4c566a;
}

.navBar-light {
    height: 40px;
    width: 100%;
    background-color: #eceff4;
}

.navBar-light a {
    text-decoration: none;
}


.navBar-right {
    float: right;
    margin: 10px 20px;
}

.buttonLayout {
    margin: 20px;
}

.flexContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 150px 0px 0px -200px; 
}

.grid {
    display: grid;
    width: 560px;
    height: 560px;
    background-color: white;
    border: 0.5px solid black;
}

.col {
    box-shadow: 0px 0px 0px 1px black inset;
}
