body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: "Fira Sans", sans-serif;
    overflow: hidden;
}

button {
    font-family: "Fira Sans", sans-serif;
}

.flexContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.grid {
    display: grid;
    width: 560px;
    height: 560px;
    background-color: white;
    border: 0.5px solid black;
}

.col {
    box-shadow: 0px 0px 0px 1px black inset;
}